<h1>Books</h1>
<table>
<thead>
<tr>
 <th><h4>Title</h4></th>
 <th><h4>Opinion</h4></th>
</tr>
</thead>

<% @books.each do |book| %>
<tbody>
<tr>
   <td>
     <%= image_tag book.user.get_profile_image(100,100) %>
   </td>
   <td>
      <%= book.title  %>
   </td>
   <td>
      <%= book.body %>
   </td>
</tr>
</tbody>
<% end %>
</table>

